<?xml version="1.0" encoding="UTF-8"?>
<beans 	xmlns= "http://www.springframework.org/schema/beans"
		xmlns:xsi= "http://www.w3.org/2001/XMLSchema-instance"
		xmlns:p= "http://www.springframework.org/schema/p"
		xmlns:context= "http://www.springframework.org/schema/context"
		xmlns:mvc= "http://www.springframework.org/schema/mvc"
		xmlns:aop= "http://www.springframework.org/schema/aop"
		xsi:schemaLocation= "http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/mvc
		http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop.xsd"
>		

		<context:component-scan base-package="rose.bean"/>
		<context:component-scan base-package="rose.theater.bean"/>
		<context:component-scan base-package="test.rose.bean"/>
		<context:component-scan base-package="rose.event.bean"/>
		
	
		<bean id="sqlMapClient" class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">
			<property name="configLocation" value="/WEB-INF/sqlMapConfig.xml"/>	
		</bean>
		<bean id="sqlMapClientTemplate" class="org.springframework.orm.ibatis.SqlMapClientTemplate">
			<property name="sqlMapClient" ref="sqlMapClient"/>
			<property name="dataSource" ref="dataSource"/>
		</bean>
		<bean		id="dataSource" 
					class="org.apache.tomcat.dbcp.dbcp.BasicDataSource"
					destroy-method="close"
					p:driverClassName="oracle.jdbc.driver.OracleDriver"
					p:url="jdbc:oracle:thin:@khmaster.iptime.org:7000:orcl"
					p:username="final01"
					p:password="final01">
		</bean>
		
		
		<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
			<property name="maxUploadSize" value="-1"></property>
			<property name="defaultEncoding" value="utf-8"></property>
		</bean>
		
		<!-- jackson -->
		<!-- <bean id="jacksonMessageConverter" class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter"/> -->
		
</beans>